{{>_navPrimary}}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="imagem1.jpg" alt="Imagem 1">
            <div class="carousel-caption">
                <h3>Título do Slide 1</h3>
                <p>Descrição do Slide 1</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="imagem2.jpg" alt="Imagem 2">
            <div class="carousel-caption">
                <h3>Título do Slide 2</h3>
                <p>Descrição do Slide 2</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="imagem3.jpg" alt="Imagem 3">
            <div class="carousel-caption">
                <h3>Título do Slide 3</h3>
                <p>Descrição do Slide 3</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>

<div class="container">
    <h2>Conteúdo Principal</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget justo in eros finibus finibus. Nulla
        facilisi.</p>
    <div class="row">
        <div class="col-md-4">
            1
        </div>
        <div class="col-md-4">
            2
        </div>
        <div class="col-md-4">
            3
        </div>
    </div>
    {{>_footer}}
</div>