<div class="text-center">
  <img
    src="/assets/img/logo-black.svg"
    class="logo-index"
    alt="logo-primeiro-passo"
  />
  <div class="">
    <p>Entre em contato e marque agora sua consulta: </p>
  </div>
  <div class="mt-2">
    <a href="#" class="btn btn-primary"><i class="ri-whatsapp-line"></i>
      Whatsapp</a>
  </div>
  <div class="mt-2">
    <a href="#" class="btn btn-primary"><i class="ri-instagram-line"></i>
      Instagram</a>
  </div>
</div>