    <div class="container">
        <div class="text-center">
            <a href="/">
                <img class="logo mt-4" src="/assets/img/logo-black.svg" alt="Logo">
            </a>
        </div>

        <h1>Política de privacidade</h1>
        <p class="text-justify">Última atualização: Aug 2023.</p>

        <h2>Política de Privacidade</h2>
        <p>
            A Turbfy, pessoa jurídica de direito privado, com sede na R. José D'Angelo, 324 - Jardim Ocara, Santo André - SP,
            09051-090, inscrita no CNPJ/MF sob o nº 46810828000106 (“Lojista” ou “nós”) leva a sua privacidade a sério e
            zela pela segurança e proteção de dados de todos os seus clientes, parceiros, fornecedores e usuários
            (“Usuários” ou “você”) do site “berdms.lojavirtualnuvem.com.br” e qualquer outro site, Loja, aplicativo
            operado pelo Lojista (aqui designados, simplesmente, “Loja”).
        </p>

        <h2>Esta Política de Privacidade</h2>
        <p>
            destina-se a informá-lo sobre o modo como nós utilizamos e divulgamos informações coletadas em suas visitas à
            nossa Loja e em mensagens que trocamos com você (“Comunicações”).
        </p>

        <h2>AO ACESSAR A LOJA, ENVIAR COMUNICAÇÕES...</h2>
        <p>
            VOCÊ DECLARA ESTAR CIENTE E DE ACORDO COM ESTA POLÍTICA DE PRIVACIDADE, A QUAL DESCREVE AS FINALIDADES E
            FORMAS DE TRATAMENTO DE SEUS DADOS PESSOAIS QUE VOCÊ DISPONIBILIZAR NA LOJA.
        </p>

        <h2>Esta Política de Privacidade fornece uma visão geral...</h2>
        <p>
            de nossas práticas de privacidade e das escolhas que você pode fazer, bem como direitos que você pode exercer
            em relação aos Dados Pessoais tratados por nós. Se você tiver alguma dúvida sobre o uso de Dados Pessoais,
            entre em contato com contato@turbfy.com.
        </p>

        <h2>Além disso, a Política de Privacidade não se aplica...</h2>
        <p>
            a quaisquer aplicativos, produtos, serviços, site ou recursos de mídia social de terceiros que possam ser
            oferecidos ou acessados por meio da Loja. O acesso a esses links fará com que você deixe a Loja e possa
            resultar na coleta ou compartilhamento de informações sobre você por terceiros. Nós não controlamos,
            endossamos ou fazemos quaisquer representações sobre esses sites de terceiros ou suas práticas de
            privacidade, que podem ser diferentes das nossas. Recomendamos que você revise a política de privacidade de
            qualquer site com o qual você interaja antes de permitir a coleta e o uso de seus Dados Pessoais.
        </p>

        <h2>Definições</h2>
        <p>
            Para os fins desta Política de Privacidade:
        </p>

        <ul>
            <li>“Dados Pessoais” significa qualquer informação que, direta ou indiretamente, identifique ou possa identificar uma pessoa natural, como por exemplo, nome, CPF, data de nascimento, endereço IP, dentre outros;</li>
            <li>“Dados Pessoais Sensíveis” significa qualquer informação que revele, em relação a uma pessoa natural, origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico;</li>
            <li>“Tratamento de Dados Pessoais” significa qualquer operação efetuada no âmbito dos Dados Pessoais, por meio de meios automáticos ou não, tal como a recolha, gravação, organização, estruturação, armazenamento, adaptação ou alteração, recuperação, consulta, utilização, divulgação por transmissão, disseminação ou, alternativamente, disponibilização, harmonização ou associação, restrição, eliminação ou destruição. Também é considerado Tratamento de Dados Pessoais qualquer outra operação prevista nos termos da legislação aplicável;</li>
            <li>“Leis de Proteção de Dados” significa todas as disposições legais que regulem o Tratamento de Dados Pessoais, incluindo, porém sem se limitar, a Lei nº 13.709/18, Lei Geral de Proteção de Dados Pessoais (“LGPD”).</li>
        </ul>

        <!-- Outras seções do texto aqui -->

        <h2>Uso de Dados Pessoais</h2>
        <p>
            Coletamos e usamos Dados Pessoais para gerenciar seu relacionamento conosco e melhor atendê-lo quando você
            estiver adquirindo produtos e/ou serviços na Loja, personalizando e melhorando sua experiência. Exemplos de
            como usamos os dados incluem:
        </p>
        <ul>
            <li>Viabilizar que você adquira produtos e/ou serviços na Loja;</li>
            <li>Para confirmar ou corrigir as informações que temos sobre você;</li>
            <li>Para enviar informações que acreditamos ser do seu interesse;</li>
            <li>Para personalizar sua experiência de uso da Loja;</li>
            <li>Para personalizar o envio de publicidades para você, baseada em seu interesse em nossa Loja; e</li>
            <li>Para entrarmos em contato por um número de telefone e/ou endereço de e-mail fornecido. Podemos entrar em contato com você pessoalmente, por mensagem de voz, através de equipamentos de discagem automática, por mensagens de texto (SMS), por e-mail, ou por qualquer outro meio de comunicação que seu dispositivo seja capaz de receber, nos termos da lei e para fins comerciais razoáveis.</li>
        </ul>

        <!-- Outras seções do texto aqui -->

        <h2>A NOSSA LOJA NÃO SE DESTINA A PESSOAS COM MENOS DE 18 (DEZOITO) ANOS...</h2>
        <p>
            E PEDIMOS QUE TAIS PESSOAS NÃO NOS FORNEÇAM QUALQUER DADO PESSOAL
        </p>

        <!-- Outras seções do texto aqui -->

        <h2>Não fornecimento de Dados Pessoais</h2>
        <p>
            Você não é obrigado a compartilhar os Dados Pessoais que solicitamos, no entanto, se você optar por não os
            compartilhar, em alguns casos, não poderemos fornecer a você acesso completo à Loja, alguns recursos
            especializados ou ser capaz de prestar a assistência necessária ou, ainda, viabilizar a entrega do produto ou
            prestar o serviço contratado por você.
        </p>

        <!-- Outras seções do texto aqui -->

        <h2>Dados coletados</h2>
        <p>
            O público em geral poderá navegar na Loja sem necessidade de qualquer cadastro e envio de Dados Pessoais. No
            entanto, algumas das funcionalidades da Loja poderão depender de cadastro e envio de Dados Pessoais como
            concluir a compra/contratação do serviço e/ou a viabilizar a entrega do produto/prestação do serviço por
            nós.
        </p>

        <p>No contato a Loja, nós podemos coletar:</p>
        <ul>
            <li>Dados de contato. Nome, sobrenome, número de telefone, cidade, Estado e endereço de e-mail;</li>
            <li>Informações que você envia. Informações que você envia via formulário (dúvidas, reclamações, sugestões, críticas, elogios etc.).</li>
        </ul>

        <p>Na navegação geral na Loja, nós poderemos coletar:</p>
        <ul>
            <li>Dados de localização. Dados de geolocalização quando você acessa a Loja;</li>
            <li>Preferências. Informações sobre suas preferências e interesses em relação aos produtos/serviços (quando você nos diz o que eles são ou quando os deduzimos do que sabemos sobre você);</li>
            <li>Dados de navegação na Loja. Informações sobre suas visitas e atividades na Loja, incluindo o conteúdo (e quaisquer anúncios) com os quais você visualiza e interage, informações sobre o navegador e o dispositivo que você está usando, seu endereço IP, sua localização, o endereço do site a partir do qual você chegou. Algumas dessas informações são coletadas usando nossas Ferramentas de Coleta Automática de Dados, que incluem cookies, web beacons e links da web incorporados. Para saber mais, leia como nós usamos Ferramentas de Coleta Automática de Dados no item 7 abaixo;</li>
            <li>Dados anônimos ou agregados. Respostas anônimas para pesquisas ou informações anônimas e agregadas sobre como a Loja é usufruída. Durante nossas operações, em certos casos, aplicamos um processo de desidentificação ou pseudonimização aos seus dados para que seja razoavelmente improvável que você identifique você através do uso desses dados com a tecnologia disponível;</li>
            <li>Outras informações que podemos coletar. Outras informações que não revelem especificamente a sua identidade ou que não são diretamente relacionadas a um indivíduo, tais como informações sobre navegador e dispositivo; dados de uso da Loja; e informações coletadas por meio de cookies, pixel tags e outras tecnologias.</li>
        </ul>

        <p>Ao menos que você informe em algum formulário livre preenchido por você, nós não coletamos Dados Pessoais Sensíveis.</p>

        <!-- Outras seções do texto aqui -->

        <h2>Compartilhamento de Dados Pessoais com terceiros</h2>
        <p>
            Nós poderemos compartilhar seus Dados Pessoais:
        </p>
        <ul>
            <li>Com a(s) empresa(s) parceira(s) que você selecionar ou optar em enviar os seus dados, dúvidas, perguntas etc., bem como com provedores de serviços ou parceiros para gerenciar ou suportar certos aspectos de nossas operações comerciais em nosso nome. Esses provedores de serviços ou parceiros podem estar localizados nos Estados Unidos, na Argentina, no Brasil ou em outros locais globais, incluindo servidores para homologação e produção, e prestadores de serviços de hospedagem e armazenamento de dados, gerenciamento de fraudes, suporte ao cliente, vendas em nosso nome, atendimento de pedidos, personalização de conteúdo, atividades de publicidade e marketing (incluindo publicidade digital e personalizada) e serviços de TI, por exemplo;</li>
            <li>Com terceiros, com o objetivo de nos ajudar a gerenciar a Loja; e</li>
            <li>Com terceiros, caso ocorra qualquer reorganização, fusão, venda, joint venture, cessão, transmissão ou transferência de toda ou parte da nossa empresa, ativo ou capital (incluindo os relativos à falência ou processos semelhantes).</li>
        </ul>

        <!-- Outras seções do texto aqui -->

        <h2>Transferências internacionais de Dados</h2>
        <p>
            Dados Pessoais e informações de outras naturezas coletadas por nós podem ser transferidos ou acessados por entidades pertencentes ao grupo corporativo das empresas parceiras em todo o mundo de acordo com esta Política de Privacidade.
        </p>

        <!-- Outras seções do texto aqui -->

        <h2>Forma de coleta automática de Dados Pessoais</h2>
        <p>
            Quando você visita a Loja, ela pode armazenar ou recuperar informações em seu navegador, seja na forma de cookies e de outras tecnologias semelhantes. Essas informações podem ser sobre você, suas preferências ou seu dispositivo e são usadas principalmente para que a Loja funcione como você espera. As informações geralmente não o identificam diretamente, mas podem oferecer uma experiência na internet mais personalizada.
        </p>
        <p>De acordo com esta Política de Privacidade, esses meios de coleta automática de Dados Pessoais podem ser:</p>
        <ul>
            <li>Cookies. Um cookie é um pequeno arquivo de texto que um site armazena no seu computador ou dispositivo móvel quando você visita o site. Nós usamos cookies para várias finalidades, como lembrar suas preferências de usuário, contar o número de visitas que recebemos, entender como você usa a Loja, rastrear seus hábitos de compra, permitir que você se inscreva para receber informações da Loja e de nossos parceiros, facilitar seu processo de aquisição de produtos e serviços, personalizar e melhorar sua experiência de uso da Loja, entre outros. Cookies também podem ajudar a garantir que os produtos que você vê na Loja online sejam os produtos apropriados para você. Podemos usar cookies por várias razões, tais como permitir que você navegue entre as páginas eficientemente, permitir a reativação de uma sessão que você pode ter perdido e melhorar funcionalidades da Loja;</li>
            <li>Web beacons e pixel tags. Um web beacon é um objeto inserido em uma página ou e-mail que é usado para monitorar o comportamento dos visitantes. Eles são frequentemente usados em conjunto com cookies. Se você desativar os cookies, os web beacons poderão ainda detectar visitas anônimas, mas o beacon não será associado a cookies individuais; e</li>
            <li>Outras tecnologias de rastreamento. Pode haver outras tecnologias de rastreamento que coletam informações similares às descritas acima.</li>
        </ul>

        <!-- Outras seções do texto aqui -->

        <h2>Configuração de cookies</h2>
        <p>
            Você pode configurar seu navegador para recusar todos ou alguns cookies ou para alertá-lo quando os sites
            definirem ou acessarem cookies. Se você desativar ou recusar cookies, observe que algumas partes da Loja
            podem se tornar inacessíveis ou não funcionar corretamente.
        </p>

        <!-- Outras seções do texto aqui -->

        <h2>Privacidade das crianças</h2>
        <p>
            A nossa Loja não se destina a crianças menores de 18 anos. Não coletamos intencionalmente informações de
            crianças menores de 18 anos. Se você tem menos de 18 anos, por favor, não use ou acesse a Loja ou nos
            forneça qualquer informação pessoal. Se soubermos que coletamos ou recebemos informações pessoais de uma
            criança menor de 18 anos sem verificação do consentimento parental, excluiremos essas informações. Se você
            acredita que podemos ter informações de ou sobre uma criança menor de 18 anos, entre em contato conosco em
            contato@turbfy.com.
        </p>

        <!-- Outras seções do texto aqui -->

        <h2>Alterações na nossa Política de Privacidade</h2>
        <p>
            Nós podemos atualizar esta Política de Privacidade periodicamente e sem aviso prévio para refletir as
            mudanças em nossas práticas de informação. Se fizermos alterações materiais a esta Política de Privacidade,
            publicaremos uma notificação em nosso site e alteraremos a data de "Última Atualização" na parte superior
            desta Política de Privacidade. Sugerimos que você revise periodicamente esta página para obter as informações
            mais recentes sobre nossas práticas de privacidade.
        </p>

        <!-- Outras seções do texto aqui -->

        <h2>Entre em contato conosco</h2>
        <p>
            Para fazer perguntas ou comentários sobre esta Política de Privacidade e nossas práticas de privacidade, ou
            para relatar qualquer violação de segurança da Loja, entre em contato conosco em contato@turbfy.com.
        </p>
            {{>_footer}}
    </div>
    