<footer class="footer mb-4">
  <hr />
  <p class="text-muted">© 2023,
    <a href="https://turbfy.com" target="_blank">Turbfy</a>. Version 1.0.2 |
    <a href="/privacy-policy">Políticas de privacidade</a></p>
</footer>