<footer class="footer mb-4">
  <hr />
  <p class="text-muted">© 2023 - Version 1.0.2 |
    <a href="/privacy-policy">Políticas de privacidade</a></p>
  <a href="https://adrianolucas.com" target="_blank">Adriano Lucas</a>
</footer>