{{>_nav}}
<div class="container">
    <div class="pt-3">
        <h1>Em construção</h1>
    </div>
    <hr>
    <p class="text-muted">
        Que pena, esta página ainda não está criada, mas em breve teremos ela em funcionamento.
    </p>
    <a href="/admin/users">Voltar</a>
    {{>_footer}}
</div>